<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.murryxi.traveldiaryapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".MapBoxFeature"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Travel Diary"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDEy_R8hsXxR_3DmexmZStru4YC-Vja7kA" />

        <activity
            android:name=".ViewJournalEntries"
            android:label="Home"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".JournalEntryDetail"
            android:label="Journal Entry"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".TripDetail"
            android:label="Trip Details"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AddJournalEntry"
            android:label="New Journal Entry"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ViewScheduledTrips"
            android:label="Upcoming Trips"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ViewVisitedPlaces"
            android:label="Visited Places"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LogIn"
            android:label="Log In"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddNewTrip"
            android:label="New Trip"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PickEntryLocation"
            android:label="Select Location"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ViewTravelStats"
            android:label="My Travel Stats"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>